#ColumnsSel {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
  border-radius: 4px;
  border: solid 1px #ffffff;
}

#ColumnsSel td, #ColumnsSel th {
  padding: 8px;
}

#ColumnsSel tr:nth-child(even) {
  background-color: #f2f2f2;
}

#ColumnsSel tr:hover {
  background-color: #ddd;
}

#ColumnsSel th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

select {
  border: solid 1px rgba(0, 0, 0, .12);
  border-radius: 4px;
  width: 200px;
  height: 40px;
  font: 10px;
}

.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: right;
  min-width: 200px;
  margin: 0px 33%;
}

/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
  display: none;
}

.selectdiv:after {
  /* content: '<>'; */
  font: 12px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100px;
  max-width: 320px;
  height: 40px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 12px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#search-box{
width: 300px;
height: 40px;
border-radius: 5px;
}
.headingForSearch
{
  width: 300px;
height: 40px;
border: black;
border: 5px;
border-radius: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;
  border-radius: 5px;
}

th {
  background-color: #4CAF50;
  color: white;
}
