<div class="image-container set-full-height" style="background-image: url('assets/img/wizard-profile.jpg')">
  <!--   Creative Tim Branding   -->


  <!--  Made With Material Kit  -->


  <!--   Big container   -->
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card wizard-card" data-color="green" id="wizardProfile">
            <form action="" method="">
              <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->

              <div class="wizard-header">
                <h3 class="wizard-title">
                  Data Archival
                </h3>
                <h5>Archive your data in just some few steps.</h5>
              </div>
              <div class="wizard-navigation">
                <ul>
                  <li><a href="#Users" data-toggle="tab">Users</a></li>
                  <li><a href="#Tables" data-toggle="tab">Tables</a></li>
                  <li><a href="#Columns" data-toggle="tab">Columns</a></li>
                  <li><a href="#Condition" data-toggle="tab">Operator</a></li>
                  <li><a href="#Confirm" data-toggle="tab">Confirm</a></li>
                </ul>
              </div>

              <div class="tab-content">
                <div class="tab-pane" id="Users">
                  <div class="row">
                    <h6 class="info-text" style="float: left;padding-left: 10px;"> /{{selectedvalue.value}}</h6>
                    <h4 class="info-text" style="position: absolute;padding-left: 36%"> Please select the user</h4>

                    <div class="col-sm-10 col-sm-offset-4">
                      <div class="input-group">
                        <div id="row1" class="row">
                          <div id="col1" class="col-sm" class="info-text">
                            <mat-button-toggle-group #selectedvalue="matButtonToggleGroup" vertical
                              style="height:200px;overflow-y: auto;">
                              <mat-button-toggle *ngFor="let user of username" value={{user.COLUMN_VALUE}}
                                (click)="selecteduser(selectedvalue.value)" style="
      border-radius: 4px;
      width: 300px;
      height: 50px;
      ">
                                <div class="info-text">{{user.COLUMN_VALUE}}</div>
                              </mat-button-toggle>
                            </mat-button-toggle-group>
                          </div>
                        </div>
                      </div>


                    </div>

                  </div>
                </div>
                <div class="tab-pane" id="Tables">
                  <div class="row">
                    <h6 class="info-text" style="float: left;padding-left: 10px;">
                      /{{selectedvalue.value}}/{{selectedvaluee.value}}</h6>
                    <h4 class="info-text" style="position: absolute;padding-left: 36%"> Please search the table</h4>


                    <div class="col-sm-10 col-sm-offset-4">
                      <div class="input-group">
                        <div id="row1" class="row">
                          <div id="col1" class="col-sm" class="info-text">


                            <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
                            <br><br>
                            <table >
                              <tr>
                                <th style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PID</th>
                                <th style="text-align: right;">Table Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                               </tr>
                              </table>
                            <!-- <div class="headingForSearch"><h6>PID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Table Name</h6></div> -->
                            <mat-button-toggle-group #selectedvaluee="matButtonToggleGroup" vertical
                              style="height:200px;overflow-y: auto;">
                              <mat-button-toggle *ngFor="let table of policies" value={{table.P_ID}}
                                 style="border-radius: 4px;
      width: 300px;
      height: 50px;">

                                  <div class="info-text">{{table.P_ID}} &nbsp;&nbsp;&nbsp;&nbsp; {{table.TABLE_NAME}}</div>

                                <div class="info-text">{{table.P_ID}} &nbsp;&nbsp;&nbsp;&nbsp; {{table.TABLE_NAME}}</div>

                              </mat-button-toggle>
                            </mat-button-toggle-group>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="Columns">

                </div>
                <div class="tab-pane" id="Condition">


                </div>
                <div class="tab-pane" id="Confirm">


                </div>
              </div>
              <div class="wizard-footer">
                <div class="pull-right">
                  <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
                  <input type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish'
                    value='Finish' />
                </div>

                <div class="pull-left">
                  <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous'
                    value='Previous' />
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div> <!-- wizard container -->
      </div>
    </div><!-- end row -->
  </div> <!--  big container -->

  <div class="footer">
    <div class="container text-center">

    </div>
  </div>
</div>
