<div class="image-container set-full-height" style="background-image: url('assets/img/wizard-profile.jpg')">
  <!--   Creative Tim Branding   -->


  <!--  Made With Material Kit  -->


  <!--   Big container   -->
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card wizard-card" data-color="green" id="wizardProfile">
            <form action="" method="">
              <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->

              <div class="wizard-header">
                <h3 class="wizard-title">
                  Data Archival
                </h3>
                <h5>Archive your data in just some few steps.</h5>
              </div>
              <div class="wizard-navigation">
                <ul>
                  <li><a href="#Users" data-toggle="tab" >Users</a></li>
                  <li><a href="#Tables" data-toggle="tab">Tables</a></li>
                  <li><a href="#Columns" data-toggle="tab">Columns</a></li>
                  <li><a href="#Condition" data-toggle="tab">Operator</a></li>
                  <li><a href="#Confirm" data-toggle="tab">Confirm</a></li>
                </ul>
              </div>

              <div class="tab-content">
                <div class="tab-pane" id="Users">
                  <div class="row">
                    <h6 class="info-text" style="float: left;padding-left: 10px;"> /{{selectedvalue.value}}</h6>
                    <h4 class="info-text" style="position: absolute;padding-left: 36%"> Please select the user</h4>

                    <div class="col-sm-10 col-sm-offset-4">
                      <div class="input-group">
                        <div id="row1" class="row">
                          <div id="col1" class="col-sm" class="info-text">
                            <mat-button-toggle-group #selectedvalue="matButtonToggleGroup" vertical
                              style="height:200px;overflow-y: auto;">
                              <mat-button-toggle *ngFor="let user of username" value={{user.COLUMN_VALUE}}
                                (click)="selecteduser(selectedvalue.value)" style="
      border-radius: 4px;
      width: 300px;
      height: 50px;
      ">
                                <div class="info-text">{{user.COLUMN_VALUE}}</div>
                              </mat-button-toggle>
                            </mat-button-toggle-group>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
                <div class="tab-pane" id="Tables">
                  <div class="row">
                    <h6 class="info-text" style="float: left;padding-left: 10px;">
                      /{{selectedvalue.value}}/{{selectedvaluee.value}}</h6>
                    <h4 class="info-text" style="position: absolute;padding-left: 36%"> Please select the Table</h4>

                    <div class="col-sm-10 col-sm-offset-4">
                      <div class="input-group">
                        <div id="row1" class="row">
                          <div id="col1" class="col-sm" class="info-text">

                            <mat-button-toggle-group #selectedvaluee="matButtonToggleGroup" vertical
                              style="height:200px;overflow-y: auto;">
                              <mat-button-toggle *ngFor="let table of userTable" value={{table.COLUMN_VALUE}}
                                (click)="selectedtable(selectedvaluee.value)" style="border-radius: 4px;
      width: 300px;
      height: 50px;">
                                <div class="info-text">{{table.COLUMN_VALUE}}</div>
                              </mat-button-toggle>
                            </mat-button-toggle-group>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="Columns">
                  <div class="row">
                    <h6 class="info-text" style="float: left;padding-left: 10px;">
                      /{{selectedvalue.value}}/{{selectedvaluee.value}}/</h6>
                    <h4 class="info-text" style="position: absolute;padding-left: 36%"> Please select the Columns</h4>
                    <br>
                    <h6 class="info-text" style="float: left;margin-left: -100px;">Options selected :
                      {{columns.selectedOptions.selected.length}}</h6>
                    <div class="col-sm-10 col-sm-offset-4" style="">
                      <div class="input-group">
                        <div id="row1" class="row">
                          <div id="col1" class="col-sm" class="info-text"
                            style="height:200px;width:300px;widows: 200px;overflow-y: auto;overflow-x: hidden">

                            <mat-selection-list #columns style="border-radius: 4px;
      width: 300px;
      height: 40px;
      padding-right: 40px;
      " (selectionChange)="onGroupsChange(columns.selectedOptions.selected)">
                              <mat-list-option *ngFor="let column of columnName" class="info-text" style="height: 20px;"
                                [value]="column" [selected]="column.selected" >
                                {{column.COLUMN_NAME}}
                              </mat-list-option>
                            </mat-selection-list>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="Condition">

                  <h6 class="info-text" style="float: left;padding-left: 10px;">
                    /{{selectedvalue.value}}/{{selectedvaluee.value}}/</h6>
                  <h4 class="info-text" style="position: absolute;padding-left: 36%;"> Please select the Conditions</h4>

                  <table id="ColumnsSel" style="border-radius: 4px; margin-top: 50px; margin-inline: auto;">
                    <tr>
                      <th>
                        Column
                      </th>
                      <th>Operator</th>
                      <th>Gate</th>
                    </tr>
                    <tr *ngFor="let column1 of columnSelected1" style="height: 30px;">
                      <td style="padding-right:150px;">
                        {{column1.COLUMN_NAME}}
                      </td>
                      <td>
                        <div class="selectdiv" >

                          <mat-form-field #ColumnsSel>
                            <mat-label>Select an option</mat-label>
                            <mat-select (selectionChange)="selectedCondition($event,column1.COLUMN_NAME)">
                              <mat-option *ngFor="let opr of AllOperators" value="{{opr.COLUMN_VALUE}}">
                                {{opr.COLUMN_VALUE}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                        </div>
                      </td>
                      <td>
                        <div class="selectdiv" style="width:100px;">

                          <mat-form-field #ColumnsSel1>
                            <mat-label>Select an option</mat-label>
                            <mat-select (selectionChange)="selectedConditionGate($event,column1.COLUMN_NAME)">
                              <mat-option *ngFor="let gate of AllGates" value="{{gate.COLUMN_VALUE}}">
                                {{gate.COLUMN_VALUE}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                        </div>
                      </td>
                    </tr>
                  </table>


                </div>
                <div class="tab-pane" id="Confirm">
                  <h6 class="info-text" style="float: left;padding-left: 10px;">
                    /{{selectedvalue.value}}/{{selectedvaluee.value}}/</h6>
                  <h4 class="info-text" style="position: absolute;padding-left: 36%;"> Please select the Conditions</h4>

                  <table id="customers">
                    <tr>
                      <th>User</th>
                      <th>Table</th>
                      <th>Column</th>
                      <th>Column Type</th>
                      <th>Operator</th>
                      <th>Gate</th>
                    </tr>
                    <tr style="height: 30px;" *ngFor="let obj of retentionData">
                      <td>{{obj.tableOwner}}</td>
                      <td>{{obj.tableName}}</td>
                      <td>
                        {{obj.columnName}}
                      </td>

                      <td>{{obj.columnType}}</td>
                      <td>
                        {{obj.operator}}
                      </td>
                      <td>
                        {{obj.gate}}
                      </td>
                    </tr>
                  </table>

                </div>
              </div>
              <div class="wizard-footer">
                <div class="pull-right">
                  <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next'/>
                  <input  mat-raised-button type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish'
                    value='Finish' (click)="FinalPolicy()"  routerLink="/policyCreated"/>
<!--
                    routerLink="/policyCreated" -->

                </div>

                <div class="pull-left">
                  <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous'
                    value='Previous' />
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div> <!-- wizard container -->
      </div>
    </div><!-- end row -->
  </div> <!--  big container -->

  <div class="footer">
    <div class="container text-center">

    </div>
  </div>
</div>
