<!-- <div class="header">
    <a href="#default" class="logo">CompanyLogo</a>
    <div class="header-right">
      <a class="active" routerLink="/getuser">Home</a>
      <a href="#">Contact</a>
      <a href="#">About</a>
    </div>
  </div>
  <div class="footer">
    <p>LTI OCI</p>
  </div> -->
<router-outlet></router-outlet>
