<div class="jumbotron">
  <h1 class="display-4"> Datarchive</h1>
  <p class="lead">Tool for generating policies for data archival</p>


  <button mat-raised-button color="primary" routerLink="/getuser">Get Users</button>
  <button mat-raised-button color="primary" routerLink="/policy">Schedule Archival</button>


</div>
