/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";




html, body { height: 100%;
background: url('/datarchive/src/app/image/back.jpg');}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button{
   display: block;
   margin: 0 auto;
 }


*/
