.container-fluid {
  height: 100vh;

  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #38ef7d, #11998e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.centered {
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  width: 500px; height: 400px; margin-top: 50px; margin-left: auto; margin-right: auto;
border-radius: 5px;
  background: rgba(255,255,255);
  padding: 30px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
