<div class="container-fluid">
<div class="centered white-box">
    <img src="../assets/img/payment_successful.gif" alt="success" style="height: 80px;width: 90px;align-content: center">
   <br>
    <h5 *ngFor="let obj of yy2">
  PID : {{obj.P_ID}}
</h5>
<h5>Policy Successfully Created</h5> <br>
<input type="button" value="Home" routerLink="/">
<input type="button" value="Schedule Archival" routerLink="/policy">

</div>
  </div>

